.StatusBar{
    background:#1f1c1c;
    position: absolute;
    width: 100%;
  }
  .StatusBar > .StatusBar_wrapper{
    display: flex;
    justify-content: flex-end;
  }
  .StatusBar_wrapper .salir{
    cursor: pointer;
  }
  .StatusBar_wrapper ul{
    padding: 0;
    margin: 0; 
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
  }
  .StatusBar_wrapper ul li{
    list-style: none;
    margin-left:15px;
    font-weight: 100;
     padding: 6px;
    display: block;
  }
  .StatusBar_wrapper ul li a{
   cursor: pointer;
  }