 
div#wrapperTrigerButtonChat { 

    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
      transition-timing-function: ease-in-out;
     
    position: fixed;
    right: -100%;
    bottom: 5%;
    z-index: 999;
    height: 400px;
    width: 300px;
    overflow: hidden;
    box-shadow: -3px -3px 15px #929292;
    border-radius: 15px;
}
div#CloseX_Button {
    width: 25px;
    height: 25px;
    text-align: center;
    background: #c90810;
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 10;
    border-radius: 15px;
    font-size: 20px;
    line-height: 27px;
    transform: rotate(45deg);
    display:none;
}
div#CloseX_Button:hover{
    background: #8b0a0e;
    cursor: pointer;
}
.chatBoxInit {
    width: 300px;
    height: 400px;
    position: relative;
    background: black;
    border: solid 1px #ffffff17;
    box-shadow: 1px 2px 10px #80808033;
    border-radius: 10px;
    overflow: hidden;  
    position: fixed;
    z-index: 2;
     
}

div#chatBotTop {
    position: relative;
    /* width: fit-content; */
    height: 60%;
    overflow: hidden;
    width: 100%;
    background: black;
}

div#Cajatop {
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 3;
}

div#Cajatop img {
    width: 70px;
    display: block;
    margin: 10px auto;
}

img.sliderOlaColor01 {
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    animation-name: olas2;
    animation-duration: 80s;
    animation-iteration-count: infinite;
}

img.sliderOlaColor02 {
    height: 100%;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    animation-name: olas;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}



@keyframes olas {
    from {right: 0;}
    to {right: -100%;}
  }
  @keyframes olas2 {
    from {left: 0;}
    to {left: -100%;}
  }
  




div#Cajatop span {
    display: block;
    text-align: center;
    font-weight: 100;
}

div#chatBotBotton {
    height: max-content;
    padding: 0 15px;
    font-weight: 100;
}

div#chatBotBotton span {
    display: block;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
}

div#chatBotBotton input {
    height: 30px;
    width: 98%;
    border-radius: 3px;
    border: none;
    background: #eaeaea36;
    color: white;
    padding: 3px 5px;
    box-sizing: border-box;
    font-size: 13px;
    margin-bottom: 5px;
}

div#chatBotBotton textarea {
    display: block;
    width: 98%;
    height: 48px;
    border-radius: 4px;
    background: #e8e8e838;
    border: none;
    color: white;
    padding: 3px 5px;
    box-sizing: border-box;
    margin-bottom: 4px;
}

div#chatBotBotton button {
    border: none;
}
button#iniciarChat {
    width: 60%;
    height: 28px;
    margin-right: 3px;
    background: #c90810;
    color: white;
    padding: 5px 0;
    border-radius: 4px;
    cursor: pointer;
}
button#iniciarChat:hover { 
    background: #97050a; 
}

button#cerrarChat {
    width: 35%;
    height: 28px;
    background: #989898;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
button#cerrarChat:hover { 
    background: #5a5a5a; 
}
img#trigguerChat {
    width: 80px;
    margin-left: 180px;
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 20;
    
}
/* --- procesando envio del email clase-- */
.procesandoEnvioMail {
    height: 0;
    overflow: hidden;
    display: none;
}
div#vueltaVuekta {
    height: 40px;
    width: 40px;
    border-top: solid 5px #c9081040;
    border-bottom: solid 5px #c90810;
    border-right: solid 5px #c90810;
    border-left: solid 5px #c90810;
    border-radius: 30px;
    margin: 20px auto;
    animation-name: gira;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: none;

    
}
@keyframes gira {
    from {transform: rotate(0deg);}
    to {transform: rotate(390deg);}
  }

                     /*=====BUBLES=====*/
  
section#chatBubles {
    height: 400px;
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    display: none;
    opacity:0;
    background:black;
}

div#bublesBox {
     height: 88%; 
    border: dashed 1px #252525;
    background: black;
    border-radius: 7px;
    padding: 10px 0 0 10px;
    box-shadow: 1px 4px 10px grey;
    overflow: auto;
    width: 105%;
}

div#bublesSend {
    height: 12%;
}

div#bublesSend ul {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    padding-top: 5px;
}

div#bublesSend ul li input {
    height: 35px;
    /* min-height: 43px; */
    width: 98%;
    display: block;
    background: hsla(0,0%,100%,.32);
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 0;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none!important;
    margin-left: 5px;
}

div#bublesSend ul li:nth-child(1) {
    width: 90%;
    margin-right: 5px;
}

div#bublesSend ul li:nth-child(2) {
    width: 10%;
}

div#bublesSend ul li:nth-child(2) img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

div#bublesSend ul li {
    list-style: none;
}

.MicroMsj {
    position: relative;
    margin-bottom: 25px;
    /* width: 90%; */
    min-height: 30px;
    /* background: #6d4d37; */
    border-radius: 15px;
}
.pocho{
    background: #7f6868;
    width: 80%;
}
.extrano{
    background: #6a6a96;
    width: 80%;
    margin-left: 20px!important;
}

.MicroMsj img {
    width: 25px;
    position: absolute;
}

.MicroMsj span {
    font-size: 13px;
    width: 85%;
    margin-left: 15%;
    display: block;
}

.MicroMsj pre {
    position: absolute;
    bottom: -13px;
    right: 0;
    line-height: 10px;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.atras {
    z-index: 5!important;
    opacity: 1!important;
    display: block!important;
}

#ringChat {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 8.5%;
    bottom: 3.5%;
    border: solid 0.5px #ffffff;
    z-index: 1;
    border-radius: 50px;
    animation-name: heyChat;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    
}
 
  @keyframes heyChat {
    from { 
         bottom:7%;}
    to { transform: scale(3,3);
       opacity: 0;
       bottom:7%;}
  }