#workSelector {
    display: flex;
    justify-content: center;
  }
  #workSelector > ul{
    margin: 50px 0;
    padding: 0;  
    display:flex;
  }
  #workSelector > ul > li{
    list-style: none;
  }
  #workSelector > ul > li a{
    color: #c90810;
    text-decoration: none;
    padding: 0 20px;
    border:solid 1px #c90810;
    transition: all 0.4s;
  }
  #workSelector > ul > li:first-child a{
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
  }
  #workSelector > ul > li:last-child a{
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
  }
  .wrapperWeb{
      display: flex;
  }
  .wrapperWeb img {
    width: 50%;
    max-width: 600px;
    min-width: 550px;
    height: 400px;
}
  .wrapperWeb section{
    width: 50%;
}

section#innerTextWeb {
  padding: 50px 30px;
  font-weight: 100;
}
section#innerTextWeb li{
  list-style: none;
}
.SelectedPortfolio {
  background: #c90810;
  color: black!important;
}

div#wrapperVideo {
  width: 50%;
  display: flex;
  justify-content: center;
}

@media all and (max-width:1000px){
  .wrapperWeb{
    flex-direction: column;
  }
  .wrapperWeb > img{
    width: 100%;
    margin: 0 auto;
  }
  .wrapperWeb > #innerTextWeb{
    width: 90%;
  }
  .wrapperWeb p{
    text-align: justify;
  }
}

@media all and (max-width:550px){
  .boxShow > .carousel{
    padding:0;
  }
  .wrapperWeb img{
    width: 100%; 
    max-width: unset;
    min-width: unset;
    height: unset;
}
.wrapperWeb > #innerTextWeb {
  width: 100%;
  padding: unset;
}
.wrapperWeb > #innerTextWeb ul{ 
  padding: 10px;
}
div#wrapperVideo {
  width: 100%; 
}
}