.selectedHome{
    background:#c90810!important;
  }
  .boxed{width: 90%;
  max-width: 1200px;
  margin:0 auto;
   }
  
  div#innerHeader {
    display: flex;
    padding: 15px;
  }
  
  div#innerHeader img {
    width: 130px;
    height: 50px;
  }
  
  div#innerHeader ul li {
    list-style: none;
    margin-right: 15px;
    color: #b5b5b5;
    border-bottom: solid 1px transparent;
  }
  
  div#innerHeader ul {
    display: flex;
    font-size: 13px;
  }
  
  div#innerHeader ul li:hover {
    border-bottom: solid 1px #c90810;
    cursor: pointer;
    color: #c90810;
  }
  
  div#home_body {
    display: flex;
    margin-top: 80px;
    margin-bottom:80px;
  }
  
  div#leftImage {
    width: 25%;
    max-width: 280px;
  }
  
  div#leftImage img {
    width: 100%;
  }
  
  div#right_TabsText {
    width: 75%;
    display: flex;
    padding: 15px;
  }
  
  ul.listaTag li {
    list-style: none;
    line-height: 50px;
    background: #171717;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
  ul.listaTag li:hover {
     cursor: pointer; 
      background: #c90810; 
  }
  .boxTags {width: 20%;padding-left: 30px;}
  
  ul.listaTag {
    padding: 0;
    margin: 0;
  }
  
  div#textBox {
    width: 80%;
    background: #c90810;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    padding: 15px 0;
      box-sizing: border-box;
  }
   
  div#innerTextBox {
    width: 95%;
    height: 300px;
    overflow: hidden scroll;
    padding: 0 30px;
  }
  div#innerTextBox:hover {
    cursor: n-resize;
  }
  h1#titleHomeBox {
    line-height: 30px;
    font-weight: 400;
    font-size: 25px;
  }
  
  span#textHomeBox {
    font-weight: 200;
    font-size: 18px;
  }