.carousel {
    padding: 0 20px;
    font-weight: 100;
}
.carousel h2{
    margin-bottom: 0;
    color: #c90810;
}
.carousel span{ 
    font-weight: 400;
    color: #fff;
}
.carousel p{ 
    text-align:justify;
    font-size: 16px;
}