$rojo: #C90810; 
$rojoHover: #64080b;
$gris_claro:#363131;



$border_normal: 5px;

/*tamano de las fuentes*/
$txt_medium: 17px;
$txt_phone:13px;
$phone_lh:18px;

//tipografia
$fuente: 'Mukta', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
 
// // media requiere
$pant_table: 1200px;
$pant_medium:900px;
$pant_phone:500px;

@mixin p {
   font-size: $txt_phone;
   line-height: 25px;
}

@mixin h1 {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 20px;
  background: unset;
  border:unset;
  padding: unset;
  }
@mixin h2 {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
} 
@mixin caja {
  width: 80%!important;
  flex-direction: row;
  justify-content:space-between;
  max-width: 1100px;
  margin: 0 auto;
  }

  @mixin caja_Grande {
    width: 95%!important; 
  } 
  @mixin fade {
  transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  }