#AllArticlewrapper {
    overflow: hidden; 
  }
  /* ==================== flot images selector ====================*/
  #gallery_selector {
    display: none;
     position: unset; 
    min-height: unset;  
    overflow: unset;
    background: #000000a3;
    z-index: 999;
    border-radius: 25px;
    padding: 5%;
    margin-right: 10px;

  }
  .show_image_selector{
    display: block!important;
    overflow: hidden;
    position: fixed!important; 
    min-height: 70vh!important;
  }
  #gallery_selector > .wrapper_gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
  }
  #gallery_selector > .wrapper_gallery span{
    position: absolute;
     padding: 0 7px;
     background: white;
     left: -2%;
     font-size: 40px;
     line-height: 35px;
     border-radius: 25px;
     transform: rotate(45deg) ;
     cursor: pointer;
     box-shadow: 2px 2px 10px black;
    }
    #gallery_selector > .wrapper_gallery span:hover{ 
       box-shadow: 2px 2px 5px black;
       background: rgb(235, 229, 229);
      }
  .wrapper_gallery img{
    width: 23%;
    margin-bottom: 20px; 
    border:solid 1px rgb(170, 156, 156);
  }
  .wrapper_gallery img:hover{
    width: 23%;
    margin-bottom: 20px; 
    border:solid 1px rgb(255, 255, 255);
    cursor: pointer;
  }
  /* ==================== flot images selector ====================*/
  /* #AllArticlewrapper >div{
    border: solid 1px red;
  } */
  #AllArticlewrapper .AllArticlewrapper_head{
  width: 99%;
     padding: 10px;
    box-sizing: border-box;
  }
.AllArticlewrapper_head span{
  width: 99%;
  background: #e0d4d4;
  display: block;
  line-height: 40px;
  font-weight: 400;
  border-radius: 5px;
  padding-left: 15px;
  
  }
  #AllArticlewrapper .AllArticlewrapper_leftColumn{
      width: 74%;
       float: left;
    padding: 15px;
    box-sizing: border-box;
  }
.AllArticlewrapper_leftColumn form label{
  display: block;
  margin: 0 0 10px;
}
.AllArticlewrapper_leftColumn form input{
  display: block;
  width: 98%;
  height: 35px;
  border: solid 1px #ccc;
  border-radius: 3px;
  margin-bottom:10px;
  font-size: 16px;
  padding-left: 10px;
}
.AllArticlewrapper_leftColumn form input[type='submit']{
  background: #d10808;
  border: none;
  border-radius: 3px;
  margin: 10px auto;
  color: white;
}
.AllArticlewrapper_leftColumn form input[type='submit']:hover{
    background: #800404; 
    cursor: pointer;
  }
  #AllArticlewrapper .AllArticlewrapper_rightColumn{
    width: 25%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
  }

.AllArticlewrapper_rightColumn form{
  background: white;
  padding: 10px 15px 20px 15px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  }
 .AllArticlewrapper_rightColumn label{
   display: block;
   margin-bottom: 10px;
  }
.AllArticlewrapper_rightColumn button{
   border: none;
  background: #b70000;
  color: lightyellow;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 20px 0 15px;
  }
.AllArticlewrapper_rightColumn button:hover{ 
  background: #800404;  
  cursor: pointer;
  }
  .AllArticlewrapper_rightColumn  input[type='file']{ 
    width: 100%;
    }
.AllArticlewrapper_rightColumn select{
    display: block;
  background: white;
  color: black;
  width: 95%;
  padding: 8px 15px;
  border-radius: 3px;
  border:solid 1px lightgray;
  }

