 @import '../../variables/vars';

#main_single {
    margin: 60px auto 0;
    width: 90%;
    max-width: 900px;
} 
.wrapper_single {
    position: relative;
    img{
        width: 100%
    }

    .wrapperData{
        position: absolute;
        top: 0;
        background: $rojo;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        padding: 10px;
        span{
            font-size: 22px;
        }
        b{
            font-size: 22px;
        } 
    }

    h1 {
        font-size: $txt_medium;
        background: #241f1f;
        margin-bottom: 60px;
        padding: 10px 20px;
        border-left: solid 4px red;
    }

    #convertText{
        padding: 0 20px;
        p{
            @include p;
        }
        h2{
           @include h2;
        }
        h1{
            @include h1;
        }
        img{ 
             width: initial;
             
        }
        
    }
}

@media screen and (max-width:$pant_medium) {
   .wrapper_single{ 
    width: 100%;   
    .wrapperData{ 
        background: $gris_claro; 
        padding: 10px;
        span{
            font-size: 18px;
        }
        b{
            font-size: 17px;
        } 
    }
    #convertText {
        padding: 0 5px;
    }
   }
  }
  @media screen and (max-width:$pant_phone) {
    .wrapper_single{  
        .wrapperData{
        span{
            font-size: $txt_phone;
        }
        b{
            font-size: $txt_phone;
        } 
    }
        #convertText{
           
        img{ 
             width: 100%;
             
        }
        
    }
  }
  }

  