#Backend{
    background: #f9f1f1;
    height: 100vh;
  }

  .Backend__wrapperBody {
    height: 100vh;
    background: transparent;
    display: flex;
  }
  .Backend__leftcontroller {
    width: 20%;
    max-width: 190px;
    background: black;
    height: 100vh;
    padding-top: 40px;
    min-width: 170px;
  }
.Backend__leftcontroller > div{
  padding-left: 15px;
  font-weight: 100;
}
.Backend__leftcontroller ul{
   margin: 0;
   padding: 0;
  }
  .Backend__body-wrapper {
    width: 99%;
    height: 100%;
    margin-top: 50px;
    margin-left: 1%;
    color:black;
}
  .Backend__hassChild:hover ul {
    height: initial;
   }
  .Backend__leftcontroller li{
    cursor: pointer;
    list-style: none;
    border-bottom: solid 1px #343434;
    padding-left: 15px;
  }
.Backend__leftcontroller li ul{
    margin-left: 13px;
    color: darkgray;
    height: 0;
    overflow: hidden;
  }
.Backend__leftcontroller li ul li{
     border-bottom:unset;
  }
  .Backend__body {
    width: 90%;
    height: 100vh; 
}