@import '../../variables/vars';
.allArticles{ 
  @include caja;
 
  // left 
  .home_body__left {
    width: 73%; 

      .wrapper_articles {
        margin-bottom: 75px;

        :last-child .wrapper_image{
          margin-bottom: 0px; 
        }

        .wrapper_image {
          position: relative;
          display: flex;
          justify-content: center;
          transform: all 0.4s;
          // hover
          &:hover{
              img{
              opacity: 0.8;
              @include fade;
            }
            .readMore__link{ 
              opacity: 1;
            }

          }  
           // img
          img{
            width: 100%;
          }
          //span
          span{
            position: absolute; 
            width:100px;
            left:0;
            top:5%;
            line-height:45px;
            background-color:$gris_claro;
            text-align:right;
            padding-right:10px;
            box-sizing:border-box;
            border-top-right-radius: 5px;
             border-bottom-right-radius: 5px;
             font-family: $fuente;
             font-weight:100;
             background-size: 20px;
             background-repeat: no-repeat;
             background-position: 10px;
            }

            // titulo
            .wrapper__title{
              position: absolute;
              z-index: 2;
              bottom: -26px;
              background-color: $gris_claro;
              box-sizing: border-box;
              width: 90%;
              padding: 15px 13px;
              border-radius: $border_normal;
              box-shadow: 2px -2px 8px rgba(0, 0, 0, 0.527);

              h1{
                margin: 0;
                font-weight: 400;
                line-height: 23px;
                display: block;
                font-size: $txt_medium;

                a{
                  text-decoration:none;
                  color:white;
                }
              }
            }
            // read more
            .readMore__link {
              position: absolute;
              color: white;
              text-decoration: none;
              display: block;
              // background: black;
              left: 35%;
              top: 45%;
              padding: 0 40px;
              line-height: 40px;
              font-size: $txt_medium;
              border-radius: $border_normal;
              background: $rojo;
              box-shadow: 2px -3px 8px #383131;
              opacity: 0; 
              @include fade;
            }
        }
      }
  }
  // right 
  .home_body__right {
    background: $gris_claro;
    width: 25%; 
    height: 100vh;
    border-radius: $border_normal;
  }
}

@media screen and (max-width:$pant_table) {
  .allArticles{   @include caja_Grande; }
}

@media screen and (max-width:$pant_medium) {
  #home_body{
    .home_body__left{width: 100%;
      .wrapper_articles {
        margin-bottom: 25px;
           h1{
             font-size: $txt_phone;
             line-height:$phone_lh;
           }
           .wrapper_image{
             flex-direction: column;
             span{
              font-size: $txt_phone;
              background-size: 15px;
              width: 85px;
              line-height: 35px;
             }
             .readMore__link{
              left: 30%;
              font-size: 15px;
              line-height: 25px;
              padding: 0 18px;
             }

             .wrapper__title{
              display: block;
              position: relative;
              bottom: unset;
              width: 100%;
              padding: 8px 13px;
           }
           }
           
      }
    }
  }
  .home_body__right{  display: none;}
}
 