body {
  margin: 0; 
  font-family: 'Mukta', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:black;
  color:white;
  transform:all 0.5s;
  transition:all 0.5s;
}
div#root {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*---------REDLINE-------------*/
        div#redLine {
          position: relative;
          height: 50px;
            
        }

        div#redLine:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 8px;
          background: #c90810;
          bottom: 0;z-index: 1;
        }

        h2#redLineTexto {
          position: absolute;
          /* right: 0; */
          display: block;
          background: #000000;
          padding: 0 15%;
          top: -12px;
          z-index: 2;
          font-weight: 100;
          /* font-size: 1.5em; */
          color: #949494;
        }
/*---------REDLINE-------------*/

@media all and (max-width:1000px){
  div#leftImage {
   display:none;
  }
  div#right_TabsText {
    width: 100%;
  }
}
@media all and (max-width:700px){
  .boxed {
    width: 95%;
  }
  div#innerTextBox {
    width: 90%;
  }
  div#innerTextBox {
    width: 90%;
  }
  span#textHomeBox { 
    text-align: justify!important;
}
  div#home_body { 
    margin-top: 20px;
    margin-bottom: 20px;
}
  div#innerHeader ul {
    display: none; 
}
  div#right_TabsText { 
    flex-direction: column;
}
.boxTags {
  width: 95%;
  padding-left: 0;
}
ul.listaTag li {
  background: #2c2c2c;
}
div#textBox {
  width: 95%;
}
div#innerHeader img {
  width: 90px;  
  height: 30px;
}
}