  @import '../../variables/vars';
 
div#loguinForm { 
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .loguinForm__BoxWrapper{
    max-width: 350px; 
       a{

        img{
          width: 100%;
          max-width: 150px;
          height: 60px;
          display: block;
          margin: 0 auto 10px;
        }
       }
       .loguinForm__wrapper{
        display: flex;
        flex-direction: column;

        .loguinForm__title{
          text-align: center!important;
          display: block;
          font-weight: 100; 
               font-weight: 300;
            font-size: 16px; 
            margin-bottom: 10px;
        }

        form{
          display: flex;
          flex-direction: column;
          width: 320px;
          padding: 15px;
          background: rgba(255,255,255,0.3);
          border: solid 1px rgba(255,255,255,0.2);
          border-radius: 7px;

          input:not([type='submit']){
            background:black;
            color: white;
            border: none;
            height: 28px;
            margin-bottom: 6px;
            padding: 3px 8px;
            border-radius: 3px;
            box-shadow: 1px 2px 1px rgba(0,0,0,0.3);
          }

          input{
            border: none;
            background: #C90810;
            color: white;
            height: 30px; 
            border-radius: 3px;
            cursor: pointer;
          }

          input[type='submit']:hover{
            background-color: $rojoHover;
            
          }
        }
      }
  }
} 
 